
* {
	box-sizing: border-box;
}

h1, h2, h3, p{ padding: inherit; margin: inherit; }

body{
  font-family:  "Inter", sans-serif;
}

h2 {
  text-align: center;
  text-shadow: 2px 1px 2px #777;
  margin: 1%;
  padding: 1%;
}

h3 {
  color: black;
  text-shadow: 2px 1px 2px #777;
  border: 2px solid #111;
  background-color: #999;
  padding-left: 3%;
  padding-top: 3%;
  margin-right: 2%;
}

.red{background: red;}
.green{background: #00aa00;}
.yellow{background: yellow;}

.items-title{
  float: right;
  padding-right: 5%;
  margin-right: 2%;
  padding-top: inherit;
  margin-top: 2%;
}

.content {
  border: 2px solid #111;
  padding: 3%;
  margin: 2%;
  padding-top: 8%;
  background-color: #999;
}

/* for desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/* for tablet */
@media(min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
    .col-md-12 {
      width: 100%;
    }
  .item3{
    width: 102%;
    margin-left: -1%;
    margin-top: -1%;
  }

/* for mobile */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  }
